<!-- <app-header [user]="user"></app-header> -->

<div [ngClass]="{'login': !(user | async)?.uid }">
  <div class="row" *ngIf="!(user | async)?.uid">
    <div class="columns small-12">
      <h1>MyDine <small>Version 1.0.0</small></h1>
    </div>
  </div>

  <section *ngIf="(user | async)?.uid">
    <router-outlet></router-outlet>
    <!-- <app-pages ></app-pages> -->
  </section>

  <div class="row">
    <div class="columns small-12">
      <button class="button expanded large anonymous" (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
    </div>
    <div class="columns small-12">
      <button class="button expanded large fb" (click)="signInWithFacebook()" *ngIf="!(user | async)?.uid">Facebook Login</button>
    </div>
    <div class="columns small-12">
      <button class="button expanded large anonymous" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </div>
  </div>

  <div class="row" *ngIf="!(user | async)?.uid">
    <div class="columns small-12">
      <blockquote>
        Going to a restaurant is one of my keenest pleasures. Meeting someplace with old and new friends, ordering wine, eating food,
        surrounded by strangers, I think is the core of what it means to live a civilised life.
        <cite>Adam Gopnik</cite>
      </blockquote>
    </div>
  </div>
  </div>