input#message {
    background:#fff;
    border:none;
    outline:none;
    box-shadow:none;
    font-size:1.6em;
    font-weight:300;
    padding:1.2em .7em;
}

#details-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
}

.resto {
    background:#fff;
    padding:1.4em;
    color:#696969;
    border: 1px solid #EBEBEB;
}

img {
    display:block;
    margin-bottom:12px;
}

button {
    margin: 10px;
}
button.fb {
    background: #3B5998;
}
button.anonymous {
    background: #d7e1ea;
}
.login {
    height: 100vh;
    padding-top: 30%;
}