.wrapper {
    height: 100vh;
    width: 100vw;
    /* background: #2e394b; */
    background: #FFF;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  input, input:focus {
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
    font-size: 2rem;
    margin: 15px 0 0 0;
    height: 4rem;
  }
  
  .menu-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 70px;
    width: 54px;
    cursor: pointer;
  }
  .menu-btn .fa {
    font-size: 3em;
    margin: 15px 0 0 15px;
  }
  .menu-btn:active {
    opacity: 0.2;
  }
  
  section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    border: 1px solid #1f252d;
    -webkit-transition: -webkit-transform 0.3s;
    overflow: auto;
  }
  section .trash {
    position: absolute;
    top: 16px;
    right: 25px;
    width: 25px;
    font-size: 2rem;
  }
  section.one {
    /* background: #f75b5b; */
    background: #f6f1ed;
    -webkit-transition-delay: 0s;
  }
  section.two {
    /* background: #c84051; */
    background: #ebebeb;
    -webkit-transition-delay: 0.05s;
  }
  section.three {
    /* background: #4f3462; */
    background: #e0e0e0;
    -webkit-transition-delay: 0.1s;
  }
  section.four {
    /* background: #794d9a; */
    background: #d6d6d6;
    -webkit-transition-delay: 0.15s;
  }
  section.after {
    -webkit-transform: translateY(100%);
  }
  
  h1 {
    color: #1f252d;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    line-height: 70px;
    -webkit-user-select: none;
  }
  
  .page-one section.one {
    -webkit-transition-delay: 0s;
  }
  .page-one section.two {
    -webkit-transition-delay: 0.15s;
  }
  .page-one section.three {
    -webkit-transition-delay: 0.1s;
  }
  .page-one section.four {
    -webkit-transition-delay: 0.05s;
  }
  
  .page-two section.one {
    -webkit-transition-delay: 0s;
  }
  .page-two section.two {
    -webkit-transition-delay: 0.05s;
  }
  .page-two section.three {
    -webkit-transition-delay: 0.1s;
  }
  .page-two section.four {
    -webkit-transition-delay: 0.05s;
  }
  
  .menu-open section {
    cursor: pointer;
  }
  .menu-open section.one {
    -webkit-transform: translateY(140px);
    -webkit-transition-delay: 0.15s;
  }
  .menu-open section.one:active {
    background: #f86a6a;
  }
  .menu-open section.two {
    -webkit-transform: translateY(210px);
    -webkit-transition-delay: 0.1s;
  }
  .menu-open section.two:active {
    background: #cb4c5c;
  }
  .menu-open section.three {
    -webkit-transform: translateY(280px);
    -webkit-transition-delay: 0.05s;
  }
  .menu-open section.three:active {
    background: #57396c;
  }
  .menu-open section.four {
    -webkit-transform: translateY(350px);
    -webkit-transition-delay: 0s;
  }
  .menu-open section.four:active {
    background: #8152a4;
  }
  .menu-open.page-one section.one {
    -webkit-transition-delay: 0s;
  }
  .menu-open.page-one section.two {
    -webkit-transition-delay: 0.05s;
  }
  .menu-open.page-one section.three {
    -webkit-transition-delay: 0.1s;
  }
  .menu-open.page-one section.four {
    -webkit-transition-delay: 0.15s;
  }
  .menu-open.page-two section.one {
    -webkit-transition-delay: 0s;
  }
  .menu-open.page-two section.two {
    -webkit-transition-delay: 0.05s;
  }
  .menu-open.page-two section.three {
    -webkit-transition-delay: 0.1s;
  }
  .menu-open.page-two section.four {
    -webkit-transition-delay: 0.15s;
  }

  .term-list {
    list-style: none inside;
    width: 100%;
    margin: 0;
    padding: 5px 10px 0;
    text-align: left;
    color: #777;
    background: #fff;
    border: 1px solid #ddd;
    font-family: "Arvo", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 400;
  }
  .term-list li {
    padding: 0.5em 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
  }
  .term-list strong {
    color: #444;
    font-weight: 700;
  }
  
  .hidden {
    display: none;
  }

  .restos {
    margin-top: 25px;
  }

  #newlist {
    margin: 50px 0 0 0;
  }

  #greeter {
    position: absolute;
    top: 19px;
    font-size: 1.5rem;
    left: 60px;
  }