<div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-link">Wijzig</button>
    </div>
    <div class="col-6 text-right">
        <button type="button" class="btn btn-link">
                <i class="fa fa-search" aria-hidden="true"></i>
        </button>
    </div>
</div>

<section id="library">
    <div class="row">
        <div class="col-12">
            <h1>Bibliotheek</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action">Vestibulum at eros</a>
            </div>
        </div>
    </div>
</section>

<section>
    <h4>Recent toegevoegd</h4>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <img src="http://placehold.it/100x100">
            </div>
            <h6>test</h6>
            <p class="text-muted">Lorem ipsum</p>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="http://placehold.it/100x100">
            </div>
            <h6>test</h6>
            <p class="text-muted">Lorem ipsum</p>
        </div>

        <div class="col-6">
            <div class="card">
                <img src="http://placehold.it/100x100">
            </div>
            <h6>test</h6>
            <p class="text-muted">Lorem ipsum</p>
        </div>
    </div>
</section>

<!-- <div class="wrapper">
    <div class="row">
        <div class="small-12 columns">
            <span id="greeter">Hallo {{user.displayName}}</span>
            <input type="text" id="newlist" placeholder="Voeg een lijst toe..." [(ngModel)]="newList" (keyup.enter)="addPage($event.target.value)" />
        </div>
    </div>

    <a class="menu-btn" (click)="toggleMenu()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>

    <section class="{{getSectionClass(i)}}" (click)="goToPage(i)" *ngFor="let list of pages | async; let i = index">
        <h1>{{list.name}}</h1>
        <a href="#" (click)="deletePage(list.$key)" class="trash">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
        <div class="row">
            <div class="small-12 columns">
                <input type="text" id="message" placeholder="Voeg een restaurant toe..." (keyup.enter)="addResto($event.target.value, list)"
                    [(ngModel)]="restoVal" />
                <ul id="searchResults" class="term-list" *ngIf="restos && restoVal">
                    <li *ngFor="let resto of restos | async | orderBy: 'name'" [hidden]="isSearchTerm(resto.name)" (click)="addRestoToList(resto, list)">{{resto.name}}</li>
                </ul>
            </div>
        </div>

        <div id="details-container" class="row medium-unstack restos">
            <span>{{prettyPages}}</span>
            <div class="columns small-12" *ngFor="let item of list.restos">
                <div class="card" [routerLink]="['resto', item.id]">
                    <img src="http://placehold.it/600x300">
                    <div class="card-section">
                        <h4>{{item.name}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->